# Entornos virtuales
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por ejecución
*.log
*.sqlite
*.db

# Configuración de módulos
.env
.env.local
.env.*.local

# Dist / build
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# Docker
*.pid
